<div style="margin: 50px;">
  <div class="card" style="width: 74rem;">
    <div class="card-body">
      <h4 class="card-title" *ngFor="let user of users">{{user.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted" *ngFor="let user of users">{{user.title}}</h6>
      <h6 class="card-subtitle mb-2 text-muted" *ngFor="let user of users">{{user.emailaddress}}</h6>
      <h6 class="card-subtitle mb-2 text-muted" *ngFor="let user of users">{{user.location}}</h6>
      <p class="card-text" *ngFor="let user of users">{{user.summary}}</p>
      <button class="btn btn-primary" type="submit" style='margin-right:16px' (click)="showDiv('hobbies')">Show Hobbies</button>
      <button class="btn btn-primary" type="submit" (click)="showDiv('skills')">Show Skills</button>
    </div>
  </div><br/><br/>
  <div *ngIf="selectedDiv === 'skills'">
    <h5><b>SKILLS</b></h5>
    <div class="row">
      <div class="col" *ngFor="let skill of skills">&#9679;{{skill.skill_name}}</div>
    </div>
  </div>
  <div *ngIf="selectedDiv === 'hobbies'">
    <h5><b>HOBBIES</b></h5>
    <div class="row">
      <div class="col" *ngFor="let hobby of hobbies"><b>&#9679;{{hobby.hobby_name}}</b></div>
    </div>
    <div class="row">
      <div class="col" *ngFor="let hobby of hobbies">{{hobby.description}}</div>
    </div>
  </div>
</div>